body {
    background-color: #333;
    color: antiquewhite;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        gap: 1rem;
    }
}

a {
    color:aquamarine;
    text-decoration: none;
}

a:visited {
    color: aquamarine;
}

ul {
    list-style-type: none;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

.alert {
    color: lightcoral;
    padding: 1rem;
    border: 1px solid lightgreen;
    margin-bottom: 1rem;
}
